.logi {
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 10px;
    margin-bottom: 1.5rem;
    color: #383838;
    font-weight: 600;
}

.logl {
    margin: 10px;
    margin-bottom:auto;
}

.login {
    width: 400px;
    height: 310px;
    background-color: #ffffff;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .login {
        width: 80%;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        box-sizing: border-box;
    }
}

.logintitle {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -340%);
    padding: 10px;
    font-weight: bold;
    font-size: 35px;
    color: #0d47a1;
}

.loginbox {
    box-shadow: 0 0 10px #b6b6b6, 0 0 20px #dadada, 0 0 30px #bbcccc;
}

.eye {
    margin-left: 340px;
    margin-top: 55px
}

@media only screen and (max-width: 495px) {
    .eye {
        margin-left: 320px;
    }
}

@media only screen and (max-width: 468px) {
    .eye {
        margin-left: 310px;
    }
}

@media only screen and (max-width: 457px) {
    .eye {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 444px) {
    .eye {
        margin-left: 290px;
    }
}

@media only screen and (max-width: 431px) {
    .eye {
        margin-left: 280px;
    }
}

@media only screen and (max-width: 417px) {
    .eye {
        margin-left: 260px;
    }
}

@media only screen and (max-width: 393px) {
    .eye {
        margin-left: 240px;
    }
}

@media only screen and (max-width: 369px) {
    .eye {
        margin-left: 220px;
    }
}

@media only screen and (max-width: 345px) {
    .eye {
        margin-left: 200px;
    }
}

@media only screen and (max-width: 317px) {
    .eye {
        margin-left: 180px;
    }
}

@media only screen and (max-width: 291px) {
    .eye {
        margin-left: 170px;
    }
}

@media only screen and (max-width: 278px) {
    .eye {
        margin-left: 160px;
    }
}