@media only screen and (min-width: 500px) {
    .cardgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .cardgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1280px) {
    .cardgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.box {
    box-shadow: 0 0 10px #b6b6b6, 0 0 20px #dadada, 0 0 30px #bbcccc;
}

.box1 {
    box-shadow: 0 0 5px #b6b6b6, 0 0 5px #dadada, 0 0 5px #bbcccc;
}
