.bneon {
    position:relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    color: #000000;
    background: #bdbdbd;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 3px 3px 1px #000000;
}

.bneon:hover {
    color: #ffffff;
    background: #616161;
    box-shadow: 0 0 10px #212121, 0 0 40px #212121, 0 0 80px #212121;
    overflow: hidden;
}

@media only screen and (min-width: 540px) {
    .bneongrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 790px) {
    .bneongrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 1024px) {
    .bneongrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}